@font-face {
    font-family:Oswrld;
    src: url( fonts/Oswald-VariableFont_wght.ttf);
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: rgb(41,84,118);
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1{
    text-align: center;
    color: brown;
}
#hero-msg h4{
    text-align: center;
    color: white;
    
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}

body{
    background-color:rgb(255, 255, 255) ;
    font-family: "Arial Narrow Bold", sans-serif,"Times New Roman";
    font-size: 20px;
    margin: 0;
    padding: 0;

}
header{
    background-color:rgb(224, 212, 212);
    display: grid;
    grid-template-columns: 150px auto;
}
nav :hover{
    background-color:rgb(41,84,124);
    color:rgb(224, 212, 212) ;
    
}
.book{
    background-color: rgb(219, 119, 119);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    margin-top: 50px;
    border-radius: 5px;
}
.join{
    background-color: burlywood;
color: black;
text-decoration: none;
font-size: 18px;
padding: 30px;
margin-top: 50px;
border-radius: 5px;
}
.msg  :hover{
    background-color:white;
    color: black;
}
.button-box :hover{
    background-color:white;
    color: black;
}
#background{
    height: 720px;
    background-color: bisque;
    grid-column:1/11 ;
    grid-row:4/9 ;
}
.msg{
    background-color: rgba(55, 55, 58, 0.856);
    line-height: 1.2em;
    padding: 35px;
    grid-column:6/10 ;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer{
    background-color: rgb(224, 212, 212);
    color: black;
    padding: 25px  50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    background-color:burlywood;
    color: rgb(41,84,118);
    text-decoration: none;
    
}
footer :hover{
    background-color: #bbd3da;
    color: rgb(12, 11, 9);
}
.home-tittle{
    color: rgb(112, 52, 139);
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: brown;
    text-align: center;
}

.msg h2{
    color:yellowgreen;
}
.msg p {
    color: yellowgreen;
    font-size: .8em;
    padding-bottom: 15px;
}
.icon{
    width: 80px;
    padding: 10px;
}
#hero-msg{
width: 100%;
grid-column: 2/3;
grid-row: 1/2;
margin-top: 100px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
h2{
    margin: 0;
}
footer .Social img{
    padding-top: 15px;
}
.rivers-cards{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
    width: 100%;
    
    
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row:2/3 ;
    

}
.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
    

}
.card-img{
    border: 10px solid rgb(120,197,215);
    width: 100%;
    height: 100px;
    transition:.5s;
    box-shadow: 5px 5px 10px #6f7364;
    
    
}
main section img{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
}
#logo-link{
    justify-self: center;
    padding-top:  5px;
    align-self: center;
}
#hero{
display: grid;
grid-template-columns: repeat(1fr 3fr 1fr);
margin-top: -100px;
}
#hero-box{
    grid-column:1/4 ;
    grid-row: 1/3;
    z-index: -1;
}
.home-grid{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-columns:repeat(1fr 1fr 1fr);
    gap: 20px;
    
    
    
}
.mountains{
    width: 100%;
    
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img :hover{
    opacity: .6;
    transform: scale(1.1);
}



body{
    margin-left: 5%;
    margin-right: 5%;
    
}
h3{
    color: rgb(33,77,111);
    font-size: 30px;
    
}
.p1{
    border: 5px solid ;
    border-color:rgb(121,197,215);
    padding: 15px;
    
}
#h1{
    color: rgb(33,77,111);
}

/* Conduct Us style*/
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  .button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

